<footer class="absolute bottom-0 w-full border-t-4 border-red-600 p-2">
    <section class="flex justify-around items-center mt-2">
        <img src ="/fb.svg" alt="facebook_logo" class="h-14" />
        <img src ="/insta.svg" alt="instagram_logo" class="h-12" />
        <img src ="/tiktok.svg" alt="instagram_logo" class="h-14" />
    </section>
    <section class="flex flex-col justify-center items-center mt-4">
        <p class="text-white">© Tous droits réservés GT DÉVELOPPEMENT</p>
  </section>
</footer>
